html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
}
th {
    border: 1px solid black;
    text-align: center;
    margin-left: -5px;
    color: blue;
    text-decoration: underline;
}
td {
    border: 1px solid black;
    text-align: center;
    margin: 0;
}
.navbar {
    display:flex;
    flex-direction: row;
    justify-content: start;
    background-color: #000447;
    padding: 10px;
    a {
        padding: 5px;
        border: 1px solid white;
        background-color: #0008a1;
        color: white;
        text-decoration: none;
    }
}
h1 {
    padding: 10px;
    background-color: #737aff;
    color: white;
    margin: 0;
}
.grafikon {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.podaciIme {
    text-align: center;
    font-weight: bold;
}
table {
    margin-top: 20px;
    box-sizing: border-box;
    border-collapse: collapse;
}